.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-gray {
  color : #424140;
  font-weight: bold;
  font-family: 'Monaco';
}


.img-property {
  width: 194px;
  height: 188px; 
}

.title {
  color: #9acc66;
  margin: 10px;
  font-weight: bold;
  font-size: large;
  margin-left: -78px;
  /* background-color : #424140; */
}

.navigator {
  background-color: #424140; 
  padding: 5px 0 5px 0;

}